[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[packages]
ansible = ">=2.8,<2.11"
boto = "*"
"boto3" = "*"

[requires]
python_version = "3.7"
